html{
    body{
        h1{
            color:red;
        }
        div{
            color:#fff;
            .test{
                font-size:42px;
                text-align:center;
                
            }
        }

    }
}