* {
    margin: 0;
    padding: 0;
    outline: none;
    border-radius: 0;
    
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ebebeb;
}
#toolbar {
    box-sizing: border-box;
    height: 50px;
    background-color: #444;
    width: 100%;
    color: #fff;
    line-height: 50px;
    display:flex;
    padding-left:30px;
}
#container {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}
#editor-column,
#preview-column {
    width: 49.5%;
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: #fff;
}
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
#mdeditor,#preview,#panel-editor,#panel-preview{
    height: 100%;
    width: 100%;
}
#toolbar>div{
    margin-right:5px;
    position: relative;
    cursor: pointer;
}
#toolbar div.blank{
    padding:0 10px;
}
#toolbar div img{
    width:24px;
    vertical-align: middle;  
}
.changeSelect{
    height:30px;
    margin-top:10px;
    outline: none;
    vertical-align: middle;
    border-radius:3px;
    width:120px;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,100%);
    z-index:100;
    display: none;
}
#uploadImg{
    box-sizing: border-box;
    width:200px;
    height:100px;
    color:#e6e6e6 ;
    background:url(../images/img/upload.png) no-repeat center center ;
    border-radius:4px;
    border:1px solid #444444;
    text-align:center;
    padding-top:60px;
}
.showImgInfo{
    background:#fff;
    box-sizing: border-box;
    position: fixed;
    top:50px;
    right:0;
    width:500px;
    padding:10px;
    border:2px solid #444444;
    border-radius:5px;
    display: none;
}
.showImgInfo .item{
    margin-bottom:10px;
}
.img-list-item{
    display: flex;
    padding:5px;
}
.showImgInfo img{
    width:15px;
}
.showImgInfo .progress{
    width:240px;
    margin-left:10px;
    height:15px;
    border-radius:2px;
    overflow: hidden;
    background: #efefef;
}
.showImgInfo .progress span{
    display: block;
    height:15px;
    width:0%;
    background:#999;
    
}