/* 弹层 */
.modal-show{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #fff;
    z-index:100;
    /* display: none; */
}
.login-box{
    width:400px;
    height:700px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-350px;
    background: url(../user/bg.jpg) no-repeat center center;
    border-radius:4px;
    -moz-box-shadow:-2px 5px 20px #969696; -webkit-box-shadow:-2px 5px 20px #969696; box-shadow:-2px 5px 20px #969696; 
    display: flex;
    align-items:center;
}
.userInfo{
    width:100%;
    text-align: center;
    color:#372926;
    padding:10px 50px;
}
.user-img {
    display: flex;
    flex-wrap: wrap;
}
.userInfo .user-img div{
    width:50px;
    height:50px;
    border-radius:50%;
    margin:5px;
    position: relative;
    cursor: pointer;
}
.userInfo .user-img div span{
    font-size:14px;
    position: absolute;
    right:0;
    bottom:10px;
}
.userInfo .user-img div img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.username{
    display: flex;
    margin-top:40px;
}
.username span{
    width:50px;
    line-height: 50px;
    font-size: 18px;
}
.username .input{
    line-height: 50px;
    flex:1;
    padding:8px 0;
}
.username .input input{
    outline: none;
    border:none;
    background: none;
    box-shadow: none;
    border-bottom:1px solid #372926;
    
}
.username .input input:focus{
    outline: none;
    border-color:none;
    box-shadow: none;
}
.username .input input::-webkit-input-placeholder{
    color:#372926;
}
.btn-go{
    margin-top:20px;
    height:40px;
    line-height: 40px;
    width:200px;
    margin:20px auto;
    border:1px solid #372926;
    border-radius:4px;
    cursor: pointer;
}
/* 聊天界面 */
.chat-interface{
    display: flex;
    width:720px;
    height:500px;
    margin:100px auto;
    border-radius:4px;
    -moz-box-shadow:-2px 5px 20px #969696; -webkit-box-shadow:-2px 5px 20px #969696; box-shadow:-2px 5px 20px #969696; 
}
.contact-bar{
    width:200px;
    border-right:1px solid #efefef;
}
.contact-info{
    flex:1;
}
.header{
    display: flex;
    height:50px;
    border-bottom:1px solid #efefef;
}
.bar-1{
    flex:1
}
.bar-2,.bar-3{
    width:35px;
    color:#aaa;
}
.header-bar{
    text-align: center;
    line-height: 50px;
}
.info-2{
    flex:1;
    padding-left:20px;
    padding-top:10px;
}
.info-2 div{
    font-size:16px;
    height:16px;
    line-height: 16px;
}
.info-2 small{
    font-size: 12px;
}
.info-1,.info-3{
    width:45px;
    line-height: 45px;
    text-align: center;
    
}
.info-3{
    font-size:22px;
    color:#aaa;
}
.info-3.tipMsg{
    position: relative;  
}
.info-3.tipMsg:after{
    content:'';
    position: absolute;
    right:7px;
    top:7px;
    width:7px;
    height:7px;
    border-radius: 50%;
    background: #EA1C64;
}
.info-1 img{
    width:40px;
    height:40px;
    border-radius:20px;
}
.header-info{
    -moz-box-shadow:0px 2px 3px #BFBFBF; -webkit-box-shadow:0px 2px 3px #BFBFBF; box-shadow:0px 2px 3px #BFBFBF;
    padding:2px 15px;
}
.content-info{
    height:330px;
    padding:15px;
}
.write-info{
    height:120px;
    padding:0 15px;
}
.write-bar{
    height:30px;
    line-height:30px;
    display: flex;
}
.write-bar .send-option{
    position: relative;
    flex:1;
    font-size: 16px;
}
.icon-style{
    -webkit-overflow-scrolling : touch;
    position: absolute;
    top:-200px;
    left:0px;
    font-size:22px;
    height:200px;
    overflow: auto;
    display: none;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background: #efefef;
    padding:5px 12px;
    border-radius:4px;
    text-align: center;
}
.icon-style::-webkit-scrollbar {
    display: none;
 } 
.send-option span{
    margin: 0  5px;
}
.glyphicon {
    cursor: pointer;
}
.write-bar .send-btn{
    width:60px;
    text-align: center;
    border:1px solid #cfcfcf;
    border-radius:4px;
    cursor: pointer;
}
.write-info textarea{
    border:none;
    outline: none;
    box-shadow:none;
    resize:none;
    height:88px;
    padding:5px 0;
}
.write-info textarea:focus{
    outline: none;
    border-color:none;
    box-shadow: none;
}
.content-bar{
    height:450px;
}
.content-bar ul{
    width:100%;
    height:100%;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
}
.content-bar ul , .content-bar li{
    list-style: none;
    padding:0;
}
.content-bar li .line{
    position: absolute;
    width:3px;
    height:0;
    left:0;
    top:0;
    background: #fff;
    transition:all 300ms ease-out;
}
.content-bar li{
    display: flex;
    padding:8px 10px;
    position: relative;
    -moz-box-shadow:0px 1px 1px #C4BFC4; -webkit-box-shadow:0px 1px 1px #C4BFC4; box-shadow:0px 1px 1px #C4BFC4;
    cursor: pointer;
}
.content-bar li .breath{
    position: absolute;
    top:50%;
    right:10%;
    padding:3px 5px;
    font-size: 12px;
    height:20px;
    margin-top:-10px;
    background: #EA1C64;
    border-radius: 3px;
    color:#fff;
    opacity: 0.1;
    animation: breath 3.5s infinite;
}
@keyframes breath {
	from {
        opacity:0.1;
        transform: translateX(3px) rotate(2deg);
    }
    10%{
        transform: translateX(-3px) rotate(-2deg);
    }
    20%{
        transform: translateX(3px) rotate(2deg);
    }
    30%{
        transform: translateX(-3px) rotate(-2deg);
    }
    40%{
        transform: translateX(3px) rotate(2deg);
    }
    /* 动画开始时的不透明度 */
    50% {
        opacity:1;
        transform: translateX(-3px) rotate(-2deg);
    }
    60%{
        transform: translateX(3px) rotate(2deg);
    }
    70%{
        transform: translateX(-3px) rotate(-2deg);
    }
    80%{
        transform: translateX(3px) rotate(2deg);
    }
    90%{
        transform: translateX(-3px) rotate(-2deg);
    }
    /* 动画50% 时的不透明度 */
    to {
        opacity:0.1;
        transform: translateX(3px) rotate(2deg);
    }
}
.content-bar li:last-child{
    margin-bottom:10px;
}
.content-bar li.active{
    -moz-box-shadow:0px 3px 8px #C4BFC4; -webkit-box-shadow:0px 3px 8px #C4BFC4; box-shadow:0px 3px 8px #C4BFC4;
}
.content-bar li.active .line{
    height:100%;
    background:#4876E0;
}
.content-bar li span{
    position: absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    background: #216AD3;
    bottom:8px;
    left:40px;
}
.content-bar li span.out{
    background: #FFC431;
}
.content-bar li img{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.content-bar li b{
    flex:1;
    line-height: 40px;
    margin-left:8px;
}
.conetent-text-box{
    height:100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling : touch;
}
.blank-show{
    height:80px;
}
/* 滚动条样式0 */

.scrollbar::-webkit-scrollbar {
   display: none;
} 
.chat-item{
    overflow:hidden;
    margin:15px 5px 8px 5px;
    position: relative;
}
.msgname{
    position: absolute;
    top:0;
    font-size:12px;
    line-height: 20px;
}
.msgname-send{
    right:55px;
}
.msgname-get{
    left:55px;
}
.chat-list{
    max-width:75%;
    min-width:20%;
    display: flex;
    
}
.chat-list>img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.chat-text .text-img{
    max-width:150px;
    display:block;
}
.chat-text{
    flex:1;
    padding:8px;
    border-radius:6px;
    position: relative;
}
.chat-other{
    float: left;
}
.chat-other .chat-text{
    margin-left:15px;
    background: #F1F1F1;
    margin-top:20px;
}
.chat-other .chat-text:after{
    content:'';
    display: block;
    position: absolute;
    top:5px;
    left:-9px;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent; 
    border-right: 10px solid #F1F1F1; 
    border-bottom: 4px solid transparent;
}
.chat-our{
    float:right;
}
.chat-our .chat-text{
    margin-top:20px;
    margin-right:15px;
    background:#7D7AE4;
    color:#fff;
}
.chat-our .chat-text:after{
    content:'';
    display: block;
    position: absolute;
    top:5px;
    right:-9px;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent; 
    border-left: 10px solid #7D7AE4; 
    border-bottom: 4px solid transparent; 
}
.time-item{
    text-align:center ;
}
.chat-tip-on{
    background:#F1F1F1;
    padding:5px;
    border-radius:4px;
    width:90%;
    
}
.chat-tips{
    line-height: 20px;
    font-size: 14px;
    color:#999;
    display: flex;
}
.chat-tips span:nth-child(1){
    margin:2px;
    width:16px;
}
.chat-tips span:nth-child(2){
    flex:1;
}

/* 图片展示容器 */
.imgBox{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.6);
    display:none;
    z-index:1001;
}
.autoimg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width:80%;
}
/* laoding animation */
.spinner- {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    float:right;
    display: none;
  }
   
  .spinner- > div {
    background-color: #5F5A4B;
    height: 100%;
    width: 6px;
    display: inline-block;
     
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
   
  .spinner- .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
   
  .spinner- .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
   
  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
    20% { -webkit-transform: scaleY(1.0) }
  }
   
  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  @media only screen and (max-width:520px){
    
    .login-box{
        width:100%;
        height:100%;
        top:0;
        left:0;
        margin:0;
    }
    .userInfo{
        padding:10px 25px;
    }
    .chat-interface{
        display: block;
        width:100%;
        height:100vh;
        margin:0;
        box-shadow: none;
        position: relative;
    }
    .contact-info{
        /* display: none; */
        
    }
    .content-info{
        height:calc( 100vh - 70px );
    }
    .contact-bar{
        position: absolute;
        z-index:1000;
        width:200px;
        height:100%;
        background:#fff;
        top:0;
        left:0;
        transform: translate(-100%,0);
        transition: all 500ms ease-out;
    }
    .contact-bar.trans{
        transform: translate(0,0);
    }
    .content-bar {
        height: calc( 100vh - 50px );
        
    }
    .content-bar ul{
        margin-bottom:0;
    }
    .write-info textarea{
        height:40px;
    }
  }