<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>迪拜捡垃圾</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom-themes.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <% include nav %>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row" style='padding-left:20px;'>
                    <h1>Sidebar template</h1>
                    <p>This is a responsive sidebar template with dropdown menu based on bootstrap 3 framework.</p>
                    <hr>
                    <h2>Themes</h2>
                    <p>Here are more themes that you can use</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div>
                                <a href="#" data-theme="chiller-theme" class="theme chiller-theme selected"></a>
                                <a href="#" data-theme="ice-theme" class="theme ice-theme selected"></a>
                                <a href="#" data-theme="cool-theme" class="theme cool-theme"></a>
                                <a href="#" data-theme="light-theme" class="theme light-theme"></a>
                                <a href="#" data-theme="green-theme" class="theme green-theme"></a>
                                <a href="#" data-theme="spicy-theme" class="theme spicy-theme"></a>
                                <a href="#" data-theme="purple-theme" class="theme purple-theme"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js//jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>