<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>迪拜捡垃圾</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom-themes.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
</head>
<style>
    
</style>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <% include nav %>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div id="toolbar"><p id='editTip' style='font-size:12px;'></p><p style='font-size:18px;'><i>Blog  </i>编辑器</p> <p id='send'>发表</p></div>
                    <div id="container" class='edit-contain'>
                        
                        <div id="editor-column" class="pull-left">
                            <div id="panel-editor">
                                
                                <div class="editor-content" id="mdeditor" ></div>
                            </div>
                        </div>
                        <div id="preview-column" class="pull-right">
                            <div id="panel-preview">
                                
                                <div id="preview" class="markdown-body"></div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </main>
        <!-- page-content" -->
        <!-- see start  -->
        <button type="button" class="btn btn-default phoneTip phoneshow" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            预览
        </button>
        <button type="button" class="btn btn-default phoneTip phonehide" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            编辑
        </button>
        <!-- see end -->
        <!-- modal start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">发表文章</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">title:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">keyword:</label>
                        <input type="text" class="form-control" id="recipient-name" placeholder="关键词可以多个用逗号隔开">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">topic:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">category:</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">技术文章
                            </label>
                            <label>
                                <input type="checkbox">记录
                            </label>
                            <label>
                                <input type="checkbox">新尝试
                            </label>
                        </div>
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-inverse">确认发表</button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js//jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.3.3/ace.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src='js/upload.js'></script>
    <script>
        // 编辑器 
        var acen_edit = ace.edit('mdeditor'); 
        acen_edit.setTheme('ace/theme/chrome');
        acen_edit.getSession().setMode('ace/mode/markdown');
        acen_edit.setFontSize('14px');
        acen_edit.renderer.setShowPrintMargin(false);
        var oldInfo = localStorage.getItem('ACE_TEXT_INFO');
        var isSave = false;
        if('<%=changeInfo%>'){
            console.log(1212)
        }
        if(oldInfo){
            acen_edit.setValue(oldInfo);
            $("#preview").html(marked(oldInfo));
        }
        acen_edit.on('focus',function(){
            
            $('#editTip').text('文档编辑中.....')
        })

        acen_edit.on('blur',function(){
            
            if(!isSave){
                $('#editTip').text('请 Ctrl+S 保存文档')
            }
            
        })
        acen_edit.on('change',function(){
            
            isSave = false;
        })
        acen_edit.commands.addCommand({
            name: 'myCommand',
            bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            exec: function(editor) {
                isSave = true;
                localStorage.setItem('ACE_TEXT_INFO',editor.getValue());
                $('#editTip').text('文档已经保存')
            },
            readOnly: true // 如果不需要使用只读模式，这里设置false
        });
        $("#mdeditor").keyup(function() {
            $("#preview").html(marked(acen_edit.getValue()));
        });
        $('#send').on('click',function(){
            $('#myModal').modal('show')
            acen_edit.setValue('');
            $("#preview").html(marked(''));
            localStorage.setItem('ACE_TEXT_INFO','');
        });
        upload('#upload',function(data){
            $('#upload .p2 span').css({width:data})
        },function(data){
            $('#upload .t').show();
            setTimeout(function(){
                $('#upload .t').hide();
                $('#upload .p2 span').css({width:0})
            },1000)
            console.log(data);
        })

        // 手机端点击预览
        $('.phoneshow').on('click',function(){
            $('#editor-column').addClass('rightMove');
            setTimeout(function(){
                $('#editor-column').hide().removeClass('rightMove');
                $('#preview-column').fadeIn(500);
                $('.phoneshow').hide();
                $('.phonehide').fadeIn(500);
            },1000)
        })
        
        // 手机端点击编辑
        $('.phonehide').on('click',function(){
            $('#preview-column').addClass('leftMove');
            setTimeout(function(){
                $('#preview-column').hide().removeClass('leftMove');
                $('#editor-column').fadeIn(500);
                $('.phonehide').hide();
                $('.phoneshow').fadeIn(500);
            },1000)
        })
        // 监听浏览器关闭事件
        window.addEventListener('beforeunload',function(event){
            localStorage.setItem('ACE_TEXT_INFO',acen_edit.getValue());
            var message = "请确定文档已经保存？";
            event.returnValue = message;
            return message;
        })
        
        // 打字效果
        // function moveFont(dom,str){
        //     var html = '',str = str+'|',timer=null;
        //     var strArr = str.split(''),len=strArr.length,i=1;
        //     $.each(strArr,function(i,el){
        //         if(i==len-1){
        //             htmlNode = '<span style="margin:0;float:none">'+el+'</span>'
        //         }else{
        //             htmlNode = '<span style="margin:0;display:none;float:none">'+el+'</span>'
        //         }
        //         html+=htmlNode; 
        //     })
        //     $(dom).html(html);
           
        //     timer = setInterval(function(){
        //         i++;
        //         if(i==len-1){
        //             // clearInterval(timer);
        //             return;
        //         }
        //         $(dom).find('span:nth-child('+i+')').show();
                
        //     },600)
            
            
            
        // }
    </script>
</body>

</html>