<div id="footer">
     <p>Design by:<a href="http://www.duanliang920.com" target="_blank">口袋理财</a> 2017-7-27</p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>