<div id="footer">
     <p style='color:#F55522'>Design by:<a href="http://www.duanliang920.com" target="_blank" style='color:#F55522'>口袋理财</a> 2017-7-27</p>
     <p style='font-size:12px;color:#666;margin-top:10px;'>&copy;--皖ICP备17014531号</p>
    </div>
    <!--footer end-->
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>
<script>
	new GoTop({
		hide:false,//当页面不滚动时 是否隐藏 默认false
		aimation:'',//出场动画 默认没有
		url:'images/6.png',//图片路径 默认我们提供base64的图片
		state:'',//出现的位置 默认是 下方 提供 center bottom参数
		height:'50px',//高 默认40px
		width:'50px',//宽 默认40px
		scrollTop:'',//滚到什么位置出现 px
		time:800,//返回顶部多长时间 ms 默认500ms
		aimation:'',//出场动画 默认show（没有出场动画） 这个可以自定义
		toTop:'',//滚到顶部触发事件
		toShow:'',//出场时触发事件
		toHide:'',//隐藏触发事件
		go:''//点击返回顶部触发事件
	});
</script>