<div id="footer">
     <p style='color:#F55522'>Design by:<a href="http://www.duanliang920.com" target="_blank" style='color:#F55522'>口袋理财</a> 2017-7-27</p>
     <p style='font-size:12px;color:#666;margin-top:10px;'>&copy;--皖ICP备17014531号</p>
    </div>
    <!--footer end-->
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>