<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>口袋理财前端技术团队</title>
<meta name="keywords" content="口袋理财前端技术团队,js开发,css布局,html规范" />
<meta name="keywords" content="何鸣明，前端开发工程师,何鸣明口袋理财前端工程师" />
<meta name="description" content="主要记录和总结前端工作中常用的知识及口袋理财团队的日常生活。该博客主要由口袋理财前端开发--何鸣明维护" />
<meta name="description" content="何鸣明口袋理财前端工程师" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="images/koudai.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="css/index.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<!--header start-->
    <div id="header">
      <h1>口袋理财前端技术团队</h1>
      <p>古今之成大事业、大学问者，必经过三种之境界："昨夜西风凋碧树。独上高楼，望尽天涯路。"此第一境也。"衣带渐宽终不悔，为伊消得人憔悴。"此第二境也。"众里寻他千百度，蓦然回首，那人却在灯火阑珊处。"此第三境也。</p>    
    </div>
<!--header end-->
<!--nav-->
     <div id="nav">
        <ul>
         <li><a href="index">口袋记</a></li>
         <li><a href="about">我们团队</a></li>
         <li><a href="shuo">口袋每日</a></li>
         <li><a href="xc">口袋活动</a></li>
         <li><a href="add">添加文章</a></li>
         <div class="clear"></div>
        </ul>
      </div>
<!--nav end-->
<!--mobile -->
<div class='mobile'>
	<ul>
     <li class='m1'><img src='images/m1.png'/></li>
     <li class='m2'><img src='images/m2.png'/></li>
     <li class='m3'><img src='images/m3.png'/></li>
     <div class="clear"></div>
    </ul>
    <ul class='mobile-nav'>
 	 <li><a href="index">口袋记</a></li>
     <li><a href="about">我们团队</a></li>
     <li><a href="shuo">口袋每日</a></li>
     <li><a href="xc">口袋活动</a></li>
     <li><a href="add">添加文章</a></li>
    </ul>
</div>
<div class='teamInfo'>
<h2>口袋理财技术团队</h2>
<button class='closeInfo' style='width:100px;height:40px;line-height:40px;text-align:center;font-size:20px;'>ok</button>
</div>
<!--mobile end -->