<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom-themes.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
    <style>
    svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    }
    .text, .offscreen-text {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
    margin: 0;
    }

    .offscreen-text {
    text-align: center;
    top: -9999px;
    }

    .text span {
    position: absolute;
    }
    #svgbox{
        height:100%;
        height:100vh;
        
    }
    html,body{
        margin:0px;
        height:100%;
        background: #444;
        overflow: hidden;
    }
    </style>
</head>

<body style='padding:0;margin:0'>
    <div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div id="toggle-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sidebar-brand">
                    <a href="#">scopeman.cn</a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">myPrelude
                            <strong>HE</strong>
                        </span>
                        <span class="user-role">@Ctrip-IBU</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Always Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search..." id='input'>
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span>归档</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="/doc/record">Products
                                            <span class="badge">2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/doc/order">Orders</a>
                                    </li>
                                    <li>
                                        <a href="doc/credit">Credit cart</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li> 
                        <li>
                            <a href="/find">
                                <i class="fa fa-book"></i>
                                <span>新观察</span>
                            </a>
                        </li>
                        <li>
                            <a href="/edit">
                                <i class="fa fa-edit"></i>
                                <span>编辑文档</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="label label-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content" style='height:100%;'>
            <div class="container-fluid" style='height:100%;'>
                <div class="row" style='position:relative;' id='svgbox'>
                    <p id="offscreen-text" class="offscreen-text"></p>
                    <p id="text" class="text"></p>
                    <svg id="svg"> </svg>
                    <!-- <input type="text" class="input" id="input" style='display:none;'/> -->
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js//jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src='js/CSSPlugin.min.js'></script> 
    <script src='js/EasePack.min.js'></script> 
    <script src='js/TweenLite.min.js'></script> 
    <script  src="js/index.js"></script>
</body>

</html>