<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div id="toggle-sidebar">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="sidebar-brand">
            <a href="#">scopeman.cn</a>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/whfpf%3D180%2C140%2C50/sign=5ecf3b4d9225bc312b0852d838e2bc89/5ab5c9ea15ce36d3a6036db331f33a87e950b12a.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">myPrelude
                    <strong>HE</strong>
                </span>
                <span class="user-role">@Ctrip-IBU</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Always Online</span>
                </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search..." id='input'>
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="javascript:;">
                        <i class="fa fa-folder"></i>
                        <span>归档</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/doc?id=1">技术文章
                                    <span class="badge">2</span>
                                </a>
                            </li>
                            <li>
                                <a href="/doc?id=2">记录</a>
                            </li>
                            <li>
                                <a href="/doc?id=3">新尝试</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>Extra</span>
                </li> 
                <li>
                    <a href="/find">
                        <i class="fa fa-book"></i>
                        <span>前端热点</span>
                    </a>
                </li>
                <li>
                    <a href="/edit">
                        <i class="fa fa-edit"></i>
                        <span>编辑文档</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="label label-warning notification">3</span>
        </a>
        <!-- <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="label label-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-gear"></i>
            <span class="badge-sonar"></span>
        </a> -->
        <a href="#">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</nav>