<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=doc[0].topic%>">
    <title><%=doc[0].title%></title>
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />
</head>
<style>
    #markbox{
        box-sizing: border-box;
        width:900px;
        padding:0 15px;
        margin:0 auto;
    }
   
    blockquote{
        font-size:14px;
    }
    .footer{
        margin-top:50px;
        padding:30px 10px;
        background:#333;
    }
    .footer-box{
        width:900px;
        margin:0 auto;
        color:#bdbdbd;
        text-align: center;
    }
    @media screen and (max-width: 768px){
        #markbox,.footer-box{
            width:100%;
        }
    }
</style>
<body style='padding:0;margin:0'>
    <div id='markbox' class="markdown-body">
        
    </div>
    <div id='markinfo' style='display:none;'><%=doc[0].text%></div>
    <div class='footer'>
        <div class='footer-box'>
            <!-- 著作权归作者所有。<br>
            商业转载请联系作者获得授权,非商业转载请注明出处。<br>
            原文: https://www.scopeman.cn/ © w3cplus.com <br> -->
            Copyright © 90後奋斗小青年 | 皖ICP备17014531号
        </div>
        
    </div>
    <!-- page-wrapper -->
    <!-- model start -->
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"></h4>
            </div> 
            <div class="modal-body" style="height:80vh">
              
            </div>
            
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <!-- model end -->
</body>
<script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    // var local = ;
    // console.log(ejs.render(doc[0].text))
    // console.log(local)
    var text = {data:"![cmd-markdown-logo](https://www.zybuluo.com/static/img/logo.png)\r\n## SB是什么?\r\n一个在线编辑markdown文档的编辑器\r\n\r\n向Mac下优秀的markdown编辑器mou致敬\r\n\r\n## SB有哪些功能？\r\n\r\n* 方便的`导入导出`功能\r\n    *  直接把一个markdown的文本文件拖放到当前这个页面就可以了\r\n    *  导出为一个html格式的文件，样式一点也不会丢失\r\n* 编辑和预览`同步滚动`，所见即所得（右上角设置）\r\n* `VIM快捷键`支持，方便vim党们快速的操作 （右上角设置）\r\n* 强大的`自定义CSS`功能，方便定制自己的展示\r\n* 有数量也有质量的`主题`,编辑器和预览区域\r\n* 完美兼容`Github`的markdown语法\r\n* 预览区域`代码高亮`\r\n* 所有选项自动记忆\r\n\r\n#### 表格\r\n| Item      |    Value | Qty  |\r\n| :-------- | --------:| :--: |\r\n| Computer  | 1600 USD |  5   |\r\n| Phone     |   12 USD |  12  |\r\n| Pipe      |    1 USD | 234  |\r\n\r\n#### 引用\r\n> * 整理知识，学习笔记\r\n> * 发布日记，杂文，所见所想\r\n> * 撰写发布技术文稿（代码支持）\r\n> * 撰写发布学术论文（LaTeX 公式支持）\r\n\r\n#### 1. 制作一份待办事宜 \r\n- [ ] 支持以 PDF 格式导出文稿\r\n- [ ] 改进 Cmd 渲染算法，使用局部渲染技术提高渲染效率\r\n- [x] 新增 Todo 列表功能\r\n- [x] 修复 LaTex 公式渲染问题\r\n- [x] 新增 LaTex 公式编号功能\r\n\r\n## 有问题反馈\r\n在使用中有任何问题，欢迎反馈给我，可以用以下联系方式跟我交流\r\n\r\n* 邮件(1142929692@qq.com, 把#换成@)\r\n* QQ: 621373454群\r\n* github: [@myprelude](https://github.com/myprelude)\r\n* twitter: [@ihubo](http://twitter.com/ihubo)\r\n\r\n## 捐助开发者\r\n在兴趣的驱动下,写一个`免费`的东西，有欣喜，也还有汗水，希望你喜欢我的作品，\r\n同时也能支持一下。当然，有钱捧个钱场（右上角的爱心标志，支持支付宝和PayPal捐助）\r\n，没钱捧个人场，谢谢各位。\r\n\r\n## 感激\r\n感谢以下的项目,排名不分先后\r\n\r\n* [bootstrap](http://www.bootcss.com/) \r\n* [ace](http://ace.ajax.org/)\r\n* [jquery](http://jquery.com)\r\n\r\n## 关于作者\r\n\r\n```javascript\r\n  var ihubo = {\r\n    nickName  : \"myprelude\",\r\n    site : \"https://github.com/myprelude\",\r\n    work : \"ctrip-IBU\"\r\n  }\r\n```"};
    var mark = $("#markinfo").text();
    $("#markbox").html(marked(mark));
    $('img').on('click',function(){
        var that = $(this),url =that.attr("src");
        $('.modal-title').text(that.attr('alt'));
        $('.modal-body').css({"background":'url( '+url+' ) no-repeat center',"background-size":'contain'});
        $('.modal').modal('show')
    })
</script>



</html>