<% include header %>
<!--content start-->
    <div id="say">
     <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>口袋小记</h1></div>
           </div>
           <span class="dateview">2014-5-31</span>----<span>小记录</span>
             <ul class="say_box">
               <div class="sy">
                   <p> 那个可以任意挥霍的年纪，人们叫它'青春'。<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores unde tempore reiciendis, provident earum dolore ratione nihil hic aliquid assumenda enim, ad expedita porro sapiente necessitatibus quisquam eius consectetur dolorum?</span>
                   <span>Deserunt sed cumque rem sit veniam inventore amet officiis tempore, magnam voluptatum similique ipsam minima saepe quidem at. Quia quos quod adipisci, commodi, architecto deleniti? Ipsum, mollitia, atque. Distinctio, laudantium.</span>
                   <span>Doloremque, harum fugit repellat minus porro expedita quis, assumenda perspiciatis molestiae tempore dolorum dolor reiciendis sint rem quisquam animi maxime neque eaque incidunt? Provident quam, quo eligendi dolorum dolore sit!</span></p>
               </div> 
            </ul>
     </div>
    <!--content end-->
<% include footer %>