<% include header %>
<script src="js/pinterest_grid.js"></script>  
    <style type="text/css">
        #gallery-wrapper {
        position: relative;
        max-width: 94%;
        width: 94%;
        margin:50px auto;
        }
        img.thumb {
        width: 100%;
        max-width: 100%;
        height: auto;
        }
        .white-panel {
        box-sizing: border-box;
        position: absolute;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        padding: 5px;
        }
        .white-panel h1 {
        font-size: 1em;
        }
        .white-panel h1 a {
        color: #A92733;
        }
        .white-panel:hover {
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        margin-top: -5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        }
    </style>
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
<!--content start-->
    <div id="content_xc">
         <div class="weizi">
           <div class="wz_text">当前位置：<a href="/index">首页</a>><h1>口袋活动</h1></div>
         </div>
         <div class="xc_content">
          <section id="gallery-wrapper">
        <article class="white-panel">
            <img src="images/active/1.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/july-kd-day/index.html?#/">吃西瓜活动</a></h1>
            <p>口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/2.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/april-kd-day/index.html?#/">速度.激情</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/3.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/labour-day/index.html?#/">福利万花筒</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/4.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/goddess-day/index.html?#/">女神节</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/5.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/mangepage-app/index.html?#/">口袋存管</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/6.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/children-day/index.html?#/">6-1儿童节</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/7.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/spokesman-lol/index.html?#/">英雄联盟</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/8.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/honesty-day/index.html?#/">3.15诚信日</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/9.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/shoot-sun/index.html?#/">射日活动</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/10.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/june-kd-day/index.html?#/">口袋约会</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/11.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/father-day/index.html?#/">口袋耕种</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/12.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/dream-of-flying/index.html?#/">放飞梦想</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/13.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/mother-day/index.html?#/">母亲节</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/14.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/father-day/index.html?#/">父亲节</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
        <article class="white-panel">
            <img src="images/active/15.png" class="thumb">
            <h1><a href="https://h5.koudailc.com/activity-seventeen/spokesman-newest/index.html?#/">口袋展示</a></h1>
            <p> 口袋理财-活动展示</p>
        </article>
    </section>
           </div>
         </div>
    </div>
    <!--content end-->
<% include footer %>
<script type="text/javascript">
        $(function(){
            $("#gallery-wrapper").pinterest_grid({
                no_columns: 3,
                padding_x: 8,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 500
            });
            
        });
    </script>